body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: arial, helvetica, sans-serif;
  font-size: 11pt;
  margin: 0px;
}

h1        {font-size: 24px; display: inline}
input     {font-family: inherit; font-size: inherit}
select    {font-family: inherit; font-size: inherit}
table     {empty-cells: show; padding: 0px}
textarea  {font-family: inherit; font-size: inherit; overflow: hidden}
ul        {margin-left:0px; padding-left:20px; list-style-type:square}


table.product, td.product { background-color: #000030; color: #FFFFFF }

.interact {background-color: #300060; color: #FFFFFF; white-space: nowrap}

input.submit {font-weight: bold}

a:link    {color: #6090FF; text-decoration: none}
a:visited {color: #D060FF; text-decoration: none}
a:hover   {text-decoration: underline}

td.header  {background-color: #404060; padding: 3px}
td.logo    {background-color: #002040}
td.option  {background-color: #404060}
td.sidebar {background-color: #404060; padding: 3px}

a.option         {text-decoration: none}
a.option:hover   {text-decoration: underline}
a.option:link    {color: #0060FF}
a.option:visited {color: #9090FF}

a.select         {font-weight: bold; text-decoration: none}
a.select:hover   {text-decoration: underline}
a.select:link    {color: #FFFFFF}
a.select:visited {color: #FFFFFF}
td.select        {background-color: #000000}

td.footer       {background-color: #404060; padding-top: 2px}
.footer         {font-size: xx-small; color: #FFFFFF}
.footer:link    {color: #0060FF}
.footer:visited {color: #9090FF}

.small {font-size: xx-small}

.submit {font-weight: bold}
